body {
    background:rgb(225, 255, 255)
}
a {
    text-decoration: none;
    color: black;
}
h1
{
    text-align: center;
    font-size: 400%;
    background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg");
    background-size: 100%;
    color: rgb(254, 254, 255);
    position:center;
    height: 80px; 
}
.home-button {
    font-size: 180%;
    background-color: #007bff;
    color: azure;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 25px;
}
.buy {
    background-color: rgb(128, 247, 255);
    padding: 5px 10px;
    font-size: 100%;
    border-radius: 10px;
    margin-bottom: 0px;
}