body {
    background-color: rgb(255, 235, 191);
}

.h1 {
    text-align: center;
    font-size: 400%;
    background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?size=626&ext=jpg");
    background-size: 100%;
    color: rgb(254, 254, 255);
    position: center;
    height: 100px;
}

.home-button {
    position: absolute;
    top: 28px;
    left: 30px;
    font-size: 30px;
    background-color: #007bff;
    color: azure;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
a
{
    font-size: 20px;
}
